body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
  color: white;
  padding-bottom: 300px;
  text-align: center;
}
body a {
  color: inherit;
}
body a:not(:hover) {
  text-decoration: none;
}
body img {
  height: 100%;
  max-height: 450px;
  min-width: 200px;
  max-width: 95%;
}
body .gray {
  color: #AAA;
}
body .header {
  padding: 10px 0 5px 0;
}
body .header .subheader {
  margin: 5px 0;
}
body .header .subheader .divider {
  margin: 0 10px;
  opacity: 0.5;
}
body ol {
  margin: none;
  display: inline-block;
}
body ol li {
  text-align: initial;
}
body ol li a {
  overflow: none;
}
body ol li:not(:hover) img {
  display: none;
}
body ol li img {
  position: absolute;
  max-height: 300px;
  max-width: 300px;
  width: auto;
  height: auto;
  z-index: 500;
  pointer-events: none;
}
body .images img {
  margin: 5px;
}
body .navigate {
  width: 100%;
}
body .navigate div {
  display: inline-block;
  width: calc(50% - 20px);
  padding: 0 10px;
}
body .navigate div:only-child {
  width: calc(100% - 20px);
}
body .navigate div.prev {
  text-align: left;
}
body .navigate div.next {
  text-align: right;
}
body .captions {
  overflow: scroll;
}
body .captions pre {
  display: inline-block;
  margin: 10px;
  padding: 3px 5px;
  background-color: #FFFFFF18;
}
body .captions pre:active {
  background-color: #FFFFFF08;
}
body .links {
  display: inline-block;
  margin-top: 0;
  text-align: left;
}
body .links li {
  margin: 20px 0;
}
body .links li:first-of-type {
  margin-top: 0;
}
