@import "src/scss/ibexus.scss";
$c-grey: #91a1a0;

body {
    .gray {
        color: $c-grey;
    }

    .header {
        margin: 15px 0;

        h1.title {
            font-size: medium;
        }

        h2.actions {
            font-size: medium;
            margin: 5px 0;
            color: $c-text;
            font-family: $f-sans;
            font-weight: normal;

            .divider {
                margin: 0 10px;
                opacity: 0.5;
            }

            .fallback-divider {
                display: none;
            }
            a {
                display: inline-flex;
                flex-direction: column;
                position: relative;

                &:hover, &:focus-within {
                    text-decoration: none;
                    i {
                        text-decoration: underline;
                        text-decoration-color: $c-accent-a;
                    }
                }

                .icon {
                    display: inline-block; 
                    height: 1.1em;
                    color: $c-accent-b;
                    &.smaller {
                        font-size: 80%;
                        padding-bottom: 0.25em;
                    }
                }

                &:not(:first-of-type) {
                    $margin: 15px;
                    $height: 70%;
                    margin-left: calc($margin * 2);

                    &::before {
                        content: "";
                        position: absolute;
                        height: $height;
                        top: #{50% - $height / 2};
                        left: - $margin;
                        border-left: 2px solid $c-subtle;
                    }
                }
            }
        }
    }

    >hr {
        display: none;
    }

    article {
        // https://github.com/connorskees/grass/issues/87
        width: min 600px, 100%, auto;
        min-width: 30%;

        padding: 0px clamp(5px, 5%, 40px);
        padding-bottom: 20px;

        text-align: center;

        hr {
            color: $c-subtle;
        }

        ol {
            display: inline-block;
            text-align: initial;

            margin-top: 0px;
            &:first-child {
                margin-top: 20px;
            }

            li {
                padding: 1px 0;
                a {
                    overflow: none;
                    img {
                        display: block;
                        max-height: 300px;
                        max-width: min(300px, 100%);
                        width: auto;
                        height: auto;
                    }
                }
                &:first-of-type a {
                    img {
                        margin: 5px 0 10px 0;
                    }
                }
                &:not(:first-of-type) a {
                    &:not(:hover) img {
                        display: none;
                    }
                    img {
                        position: absolute;
                        z-index: 500;
                        pointer-events: none;
                    }
                }
            }
        }

        .details {
            .navigate {
                display: inline-block;
                width: 0.8em;
                text-align: center;
                font-weight: 600;
                color: $c-subtle;
                padding: 0px;
            }
            .text {
                display: inline-block;
                width: 9em;
            }
        }

        .comic {
            height: 100%;
            max-height: 450px;
            min-width: 200px;
            max-width: 95%;
            margin: 5px;
        }

        .navigate {
            width: 100%;
            padding: 10px 0;
            div {
                display: inline-block;
                $padding: 10px;
                width: calc(50% - 2 * $padding);
                padding: 0 $padding;

                &:only-child {
                    width: calc(100% - 2 * $padding);
                }
                &.prev {
                    text-align: left;
                }
                &.next {
                    text-align: right;
                }
            }
        }

        .special:not(:empty) {
            margin-bottom: 15px;
            font-style: italic;
            color: $c-accent-b;
        }

        .transcript {
            display: inline-block;
            padding: 10px 20px;
            text-align: initial;
            background-color: $c-background;

            h2 {
                margin: 0;
                margin-top: 10px;
            }

            hr.separator {
                width: 50%;
                margin-top: 20px;
                margin-bottom: 10px;
            }

            .panel {
                .empty {
                    text-align: center;
                    color: $c-subtle;
                }

                .texts {
                    max-width: 17em;

                    h4 {
                        margin: 0;
                        color: $c-accent-b;
                    }
                    p {
                        margin-top: 7px;
                        margin-bottom: 10px;

                        &.speech {
                            margin-left: 20px;
                            em {
                                color: inherit;
                                font-style: inherit;
                                font-weight: bold;
                            }
                        }

                        &.sound, &.text {
                            &:not(:last-child) {
                                margin-bottom: 0px;
                            }

                            text-align: center;
                            em {
                                font-weight: bold;
                                color: inherit;
                            }
                            code {
                                font-size: 110%;
                            }
                        }
                    }
                }
            }
        }

        .caption {
            overflow: scroll;
            pre {
                display: inline-block;
                margin: 10px;
                padding: 3px 5px;
                background-color: $c-background;
                &:active {
                    filter: brightness(90%);
                }
            }
        }
        
        .source {
            color: $c-bright;
            &:not(:hover, :focus-within) {
                text-decoration: underline;
                text-decoration-color: $c-subtle;
            }
        }

        .links {
            display: inline-block;
            margin-top: 0;
            text-align: left;
            li {
                margin: 20px 0;
                &:first-of-type {
                    margin-top: 0;
                }
            }
        }

        .icon-image {
            width: 100%;
            max-width: 400px;
            height: auto;
        }

        .instructions {
            max-width: 80vw;

            p {
                max-width: 500px;
                margin-left: auto;
                margin-right: auto;

                br {
                    margin-bottom: 0.5em;
                }
            }
        }

        .big-list {
            div {
                margin-bottom: 10px;

                table {
                    display: inline-block;
                    text-align: left;
                }

                &.legend {
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                }

                &.names{ 
                    div {
                        h3 {
                            margin: 0;
                        }
                        p {
                            display: inline-block;
                            max-width: 400px;
                        }
                    }
                }
            }

            table.graph {
                display: inline-block;
                font-size: x-small;

                tr {
                    td {
                        text-align: left;

                        span {
                            &:not(:first-of-type) {
                                margin-left: 0.5em;
                            }
                        }
                    }
                }
            }
        }

        .grid {
            $size: 120px; // must match image `width` and `height` in html
            $gap: 7px;
            $gap-sunday: 9px;

            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: $gap;

            .item {
                display: inline-block;

                width: $size;
                height: $size;
                &.day {
                    height: initial;
                    margin-bottom: 10px;
                }

                &:nth-of-type(7n) {
                    >* {
                        margin-left: $gap-sunday;
                    }
                }


                a {

                    img {
                        margin: 0;
                        &:hover {
                            transform: scale(1.15);
                            outline: #{$gap - 1px} solid $c-main;
                        }
                    }
                }
            }
        }
    }
}
